<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Password forgotten mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello '+${name}+'!'">
    Hello, STATIC!
</p>
<br>
<p>You told us you forgot your password.</p>
<p>If you really did, please click on the following <a th:href="@{${link}}">link</a> to choose a new one.</p>
<br>
<p>
    Regards, <br/>
    <em>Tezos Digisign Team</em>
</p>
</body>
</html>
