<!--
    Used to show the result of a signature check.

    Usage :

      <CheckResult :check-response="checkResponse" />
      
-->

<template>
  <v-card class="banner pa-5">
    <v-row justify="center" align="center">
      <v-col class="col-2">
        <div class="text-center">
          <v-icon size="100" :color="checkSucceeded === undefined ? 'orange' : checkSucceeded ? 'green' : 'red'">{{
              checkSucceeded === undefined ? 'check_circle_outline' : checkSucceeded ? 'check_circle_outline' : 'cancel'
            }}
          </v-icon>
        </div>
      </v-col>
      <v-col class="col-10 pt-4">
        <h1 :class="checkSucceeded === undefined ? 'title_undefined' : checkSucceeded ? 'title_success' : 'title_error'"> {{
            mainMessage("title")
          }}</h1>
        <p class="pt-4">{{ mainMessage("message") }}</p>
      </v-col>
    </v-row>
    <v-row v-if="checkSucceeded">
      <v-expansion-panels flat>
        <v-expansion-panel class="more_info">
          <v-expansion-panel-header class="banner accordion_header">
            <span class="align-right pt-2">{{ $t("signatureCheck.more") }}</span>
          </v-expansion-panel-header>
          <v-expansion-panel-content class="pt-4">
            <div v-if="checkResponse.check_status === 1">
              {{ parse("signatureCheck.success.message1.block2.line1") }}<br/><br/>
              {{ parse("signatureCheck.success.message1.block2.line2") }}<br/>
              {{ parse("signatureCheck.success.message1.block2.line3") }}<br/>
              {{ parse("signatureCheck.success.message1.block2.line4") }}<br/>
              {{ parse("signatureCheck.success.message1.block2.line5") }}<br/><br/>
              <span v-html="parseLink('signatureCheck.success.message1.block2.line6', {
                                        'download' : checkResponse.proof.file_name + '.json',
                                        'href' : proofURL
                                    })"/><br/><br/>
              <span
                  v-html="parseLink('signatureCheck.success.message1.block2.line7', {'href' : storageURL})"/>
            </div>
            <div v-if="checkResponse.check_status === 2">
              {{ parse("signatureCheck.success.message2.block2.line1") }}<br/><br/>
              {{ parse("signatureCheck.success.message2.block2.line2") }}<br/><br/>
              {{ parse("signatureCheck.success.message2.block2.line3") }}<br/>
              {{ parse("signatureCheck.success.message2.block2.line4") }}<br/>

              <span v-for="(hash, idx) in checkResponse.proof.hash_list">
                                        {{ parse("signatureCheck.success.message2.block2.line5", idx) }}<br/>
                                    </span>
              <br/>
              {{ parse("signatureCheck.success.message2.block2.line6") }}<br/><br/>
              {{ parse("signatureCheck.success.message2.block2.line7") }}<br/><br/>
              {{ parse("signatureCheck.success.message2.block2.line8") }}<br/><br/>
              {{ parse("signatureCheck.success.message2.block2.line9") }}<br/><br/>
              <span
                  v-html="parseLink('signatureCheck.success.message2.block2.line10', {'href' : storageURL})"/>
            </div>
            <div v-if="checkResponse.check_status === 3">
              {{ parse("signatureCheck.success.message3.block2.line8") }}<br/><br/>
              {{ parse("signatureCheck.success.message3.block2.line9") }}<br/><br/>
              <span
                  v-html="parseLink('signatureCheck.success.message3.block2.line10', {'href' : storageURL})"/>
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
  </v-card>
</template>

<style scoped>

.banner {
  background-color: #feedc7;
}

.title_success {
  color: green;
}

.title_error {
  color: red;
}

.title_undefined {
  color: orange;
}


span {
  padding-bottom: 1rem;
}

.accordion_header {
  vertical-align: middle;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
}

.more_info {
  font-size: 12px;
  background-color: #fffaef !important;
}

</style>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator"
import {SignatureCheckResponse, URLNode} from "@/api/types"

@Component
export default class CheckResult extends Vue {

  private static format(str: string, values: Array<string>) {
    for (let i = 0; i < values.length; ++i) {
      str = str.replace("{" + i + "}", values[i])
    }
    return str
  }

  @Prop() private readonly checkResponse: SignatureCheckResponse | undefined

  private mainMessage(part: string) {
    if (this.checkSucceeded === undefined) {
      return this.$t("signatureCheck.undefined_" + part)
    } else {
      if (this.checkSucceeded) {
        return this.parse("signatureCheck.success.message" + this.checkResponse?.check_status! + ".block1." + part)
      } else {
        return this.parse("signatureCheck.errors." + this.checkResponse?.error?.toLowerCase() + "." + part)
      }
    }
  }

  private parse(message: string, idx: number = 0) {
    if (this.checkResponse) {
      const res: string = this.$t(message).toString()

      switch (message) {
        case "signatureCheck.success.message1.block1.message":
          return CheckResult.format(res, [
            this.checkResponse.signer || this.$t("signatureCheck.unknown").toString(),
            this.checkResponse.timestamp!.toString()])

        case "signatureCheck.success.message2.block1.message":
          return CheckResult.format(res, [
            this.checkResponse.signer || this.$t("signatureCheck.unknown").toString(),
            this.checkResponse.timestamp!.toString()])
        case "signatureCheck.success.message3.block1.message":
          return CheckResult.format(res, [
            this.$t("signatureCheck.unknown").toString(),
            this.checkResponse.timestamp!.toString()])

        case "signatureCheck.success.message1.block2.line1":
          return CheckResult.format(res, [this.checkResponse.proof!.file_name])

        case "signatureCheck.success.message1.block2.line2":
        case "signatureCheck.success.message2.block2.line1":
          return CheckResult.format(res, [this.checkResponse.proof!.algorithm,
            this.checkResponse.proof!.hash_document])

        case "signatureCheck.success.message1.block2.line3":
        case "signatureCheck.success.message2.block2.line2":
        case "signatureCheck.success.message2.block2.line6":
          return CheckResult.format(res, [this.checkResponse.proof!.hash_root])

        case "signatureCheck.success.message1.block2.line4":
        case "signatureCheck.success.message2.block2.line8":
          return CheckResult.format(res, [this.checkResponse.proof!.transaction_hash!,
            this.checkResponse.proof!.block_hash!, this.checkResponse.timestamp!.toString()])
        case "signatureCheck.success.message3.block2.line8":
          return CheckResult.format(res, [this.checkResponse.proof!.hash_document!,
            this.checkResponse.timestamp!.toString()])
        case "signatureCheck.success.message2.block2.line4":
          return CheckResult.format(res, [this.checkResponse.proof!.hash_document])

        case "signatureCheck.success.message1.block2.line5":
        case "signatureCheck.success.message2.block2.line9":
          return CheckResult.format(res, [this.checkResponse.proof!.public_key,
            this.checkResponse.signer || this.$t("signatureCheck.unknown").toString()])
        case "signatureCheck.success.message3.block2.line9":
          return CheckResult.format(res, [this.checkResponse.signer!])
        case "signatureCheck.success.message1.block2.line7":
        case "signatureCheck.success.message2.block2.line10":
          return CheckResult.format(res, [this.checkResponse.proof!.contract_address])
        case "signatureCheck.success.message3.block2.line10":
          return CheckResult.format(res, [this.checkResponse.proof!.contract_address])

        case "signatureCheck.success.message2.block2.line5":
          const hash = this.checkResponse.proof!.hash_list[idx]
          return CheckResult.format(res, [hash.position!, hash.hash || "",
            this.checkResponse.check_process![idx]])

        case "signatureCheck.errors.hash_inconsistent.message":
          return CheckResult.format(res, [this.checkResponse.hash_document!,
            this.checkResponse.hash_document_proof!])

        case "signatureCheck.errors.unknown_root_hash.message":
          return CheckResult.format(res, [this.checkResponse.hash_root!])

        case "signatureCheck.errors.document_known_unknown_root_hash.message":
          return CheckResult.format(res, [
            this.checkResponse.signer || this.$t("signatureCheck.unknown").toString(),
            this.checkResponse.public_key!, this.checkResponse.date!.toString()])

        case "signatureCheck.errors.no_transaction.message":
          return CheckResult.format(res, [this.checkResponse.hash_root!])

        case "signatureCheck.errors.incorrect_hash.message":
          return CheckResult.format(res, [this.checkResponse.hash!, this.checkResponse.proof_file_hash!])

        case "signatureCheck.errors.incorrect_origin_public_key.message":
          return CheckResult.format(res, [this.checkResponse.proof_file_origin_public_key!,
            this.checkResponse.origin_public_key!])

        case "signatureCheck.errors.incorrect_signature_date.message":
          return CheckResult.format(res, [
            this.$options.filters!.formatTimestamp(this.checkResponse.proof_file_signature_date),
            this.$options.filters!.formatTimestamp(this.checkResponse.signature_date)])

        case "signatureCheck.errors.incorrect_hash_algorithm.message":
          return CheckResult.format(res, [this.checkResponse.proof_file_algorithm!, this.checkResponse.hash!])

        case "signatureCheck.errors.unknown_hash_algorithm.message":
          return CheckResult.format(res, [this.checkResponse.proof_file_algorithm!])

        case "signatureCheck.errors.incorrect_public_key.message":
          return CheckResult.format(res, [this.checkResponse.proof_file_public_key!, this.checkResponse.public_key!])

        case "signatureCheck.errors.incorrect_contract_address.message":
          return CheckResult.format(res, [this.checkResponse.proof_file_contract_address!,
            this.checkResponse.contract_address!])

        default:
          return res
      }
    }
  }

  private parseLink(message: string, stats: { [key: string]: string }) {
    let format = ""
    const res = this.parse(message)
    for (const i of Object.keys(stats)) {
      format = format + i + "=\"" + stats[i] + "\" "
    }
    return res?.replace("{#}", "<a " + format + ">" + this.$t("signatureCheck.here").toString() + "</a>")
  }

  private get proofURL(): string {
    const blob = new Blob([JSON.stringify(this.checkResponse?.proof)],
        {type: "application/json;charset=utf-8"})
    return URL.createObjectURL(blob)
  }

  private get storageURL(): string | undefined {
    const urlNodes: Array<URLNode> | undefined = this.checkResponse?.proof?.urls
    if (urlNodes === undefined) {
      return undefined
    }
    for (const urlNode of urlNodes) {
      if (urlNode.type === "API_TEZOS_STORAGE") {
        return urlNode.url
      }
    }
    return undefined
  }

  private get checkSucceeded(): boolean | undefined {
    if (this.checkResponse === undefined) {
      return undefined
    } else {
      return this.checkResponse.output === "OK"
    }
  }

}
</script>
