<template>
  <v-container fluid>
    <v-row class="mx-3 mt-3" justify="space-between">
      <v-col class="pl-4" tag="h1">
        <h1 v-if="access === 'adminEditing' || access === 'creating'">{{ $t("account.edit.title.manage") }}</h1>
        <h1 v-else>{{ $t("account.edit.title.profile") }}</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-flex lg6 md7 sm8 xs11>
        <Card>
          <CardTitle v-if="access === 'adminEditing' || access === 'selfEditing'" icon="person">
            {{
              settingTezosAccount ? $t("account.edit.setTezosAccount") :
                  access === 'adminEditing' ? $t("account.edit.subTitle.edit") : $t("account.edit.subTitle.editMe")
            }}
            <v-col slot="sideInfo" class="text-right">
              <IconButton slot="sideInfo" v-if="!settingTezosAccount && canSetTezosAccount" left-icon="edit"
                          color="var(--var-color-blue-sword)"
                          @click="displaySetTezosAccount()"> {{ $t("account.edit.setTezosAccount") }}
              </IconButton>
              <IconButton slot="sideInfo" v-if="settingTezosAccount" left-icon="edit"
                          color="var(--var-color-blue-sword)"
                          @click="hideSetTezosAccount()"> {{ $t("account.edit.subTitle.editMe") }}
              </IconButton>
            </v-col>
          </CardTitle>
          <CardTitle v-if="access === 'creating'" icon="person">{{ $t("account.edit.subTitle.create") }}</CardTitle>
          <v-card-text class="pa-0" lg3>
            <div v-if="!settingTezosAccount">
              <EditFormRow v-if="access === 'creating' || access === 'adminEditing'"
                           :title="$t('account.edit.login')+' *'" :editable="true">
                <EditFormTitleEdit :placeholder="$t('account.edit.login')" color="var(--var-color-blue-sword)"
                                   v-model.trim="draft.login"/>
              </EditFormRow>
              <EditFormRow v-else :title="$t('account.edit.login')" :editable="false" :value="draft.login"/>

              <EditFormRow v-if="access === 'creating' || access === 'adminEditing'"
                           :title="$t('account.edit.email')+' *'" :editable="true">
                <EditFormTitleEdit :placeholder="$t('account.edit.email')" color="var(--var-color-blue-sword)"
                                   v-model.trim="draft.email"/>
              </EditFormRow>
              <EditFormRow v-else :title="$t('account.edit.email')" :editable="false" :value="draft.email"/>

              <EditFormRow v-if="access === 'creating' || access === 'adminEditing'" :title="$t('account.edit.company')"
                           :editable="true">
                <EditFormTitleEdit :placeholder="$t('account.edit.company')" color="var(--var-color-blue-sword)"
                                   v-model.trim="draft.company"/>
              </EditFormRow>
              <EditFormRow v-else :title="$t('account.edit.company')" :editable="false" :value="draft.company"/>

              <EditFormRow v-if="access === 'creating' || access === 'adminEditing'" :title="$t('account.edit.country')"
                           :editable="true">
                <EditFormTitleEdit :placeholder="$t('account.edit.country')" color="var(--var-color-blue-sword)"
                                   v-model.trim="draft.country"/>
              </EditFormRow>
              <EditFormRow v-else :title="$t('account.edit.country')" :editable="false" :value="draft.country"/>

              <EditFormRow v-if="access === 'creating' || access === 'adminEditing'" :title="$t('account.edit.admin')"
                           :editable="true">
                <v-checkbox v-model="draft.isAdmin"/>
              </EditFormRow>
              <EditFormRow v-else :title="$t('account.edit.profile')" :editable="false"
                           :value="draft.isAdmin ? $t('account.edit.admin') : $t('account.edit.noAdmin')"/>

              <EditFormRow v-if="access === 'creating' || access === 'adminEditing'"
                           :title="$t('account.edit.signatureLimit')"
                           :editable="true">
                <EditFormTitleEdit :placeholder="$t('account.edit.signatureLimit')"
                                   color="var(--var-color-blue-sword)"
                                   v-model="draft.signatureLimit"/>
              </EditFormRow>
              <EditFormRow v-else :title="$t('account.edit.signatureLimit')" :editable="false"
                           :value="draft.signatureLimit">
              </EditFormRow>

              <EditFormRow v-if="access === 'creating'" :title="$t('account.edit.tezosAccountInConfig')"
                           :editable="true">
                <v-checkbox v-model="draft.isTezosAccountInConfig"/>
              </EditFormRow>

            </div>

            <div v-if="canSetTezosAccount">
              <div v-if="settingTezosAccount || (access === 'creating' && this.draft.isTezosAccountInConfig !== true)">
                <EditFormRow
                    :title="access === 'creating' ? $t('account.edit.TEZOSPubKey') : $t('account.edit.TEZOSPubKey')+'*'"
                    :editable="true">
                  <EditFormTitleEdit :placeholder="$t('account.edit.TEZOSPubKey')" color="var(--var-color-blue-sword)"
                                     v-model.trim="draft.publicKey"/>
                </EditFormRow>

                <EditFormRow
                    :title="access === 'creating' ? $t('account.edit.TEZOSPrivateKey') : $t('account.edit.TEZOSPrivateKey')+'*'"
                    :editable="true">
                  <EditFormTitleEdit :placeholder="$t('account.edit.TEZOSPrivateKey')"
                                     color="var(--var-color-blue-sword)"
                                     v-model.trim="draft.privateKey"/>
                </EditFormRow>
              </div>
            </div>
            <div v-if="!canSetTezosAccount && tezosAccountDefined">
              <EditFormRow :title="$t('account.edit.TEZOSPubKey')" :editable="false" :value="draft.publicKey"/>
              <EditFormRow :title="$t('account.edit.TEZOSAccount')" :editable="false" :value="draft.hash"/>
            </div>
            <div v-else>
              <div v-if="tezosAccountGenerationMessage != null && access !== 'creating'">
                <EditFormRow :title="$t('account.edit.TEZOSPubKey')" :editable="false"
                             :value="tezosAccountGenerationMessage"/>
                <EditFormRow :title="$t('account.edit.TEZOSAccount')" :editable="false"
                             :value="tezosAccountGenerationMessage"/>
              </div>
            </div>

            <div v-if="!settingTezosAccount">

              <EditFormRow :title="$t('account.edit.fullName') +' *'" :editable="true">
                <EditFormTitleEdit :placeholder="$t('account.edit.fullName')" v-model.trim="draft.fullName"
                                   color="var(--var-color-blue-sword)"/>
              </EditFormRow>

              <div v-if="access !== 'creating' && access !== 'adminEditing'">
                <EditFormRow :title="$t('account.edit.newPassword')"
                             :editable="true">
                  <EditFormTitleEdit
                      cssClass="edit-password"
                      v-model.trim="draft.newPassword"
                      type="password"
                      placeholder="******"
                      :autocomplete="'new-password'"
                  />
                </EditFormRow>
                <EditFormRow
                    :title="$t('account.edit.newPasswordConfirmation')"
                    :editable="true"
                    :autocomplete="'new-password'"
                >
                  <EditFormTitleEdit
                      cssClass="edit-password"
                      v-model.trim="draft.newPasswordConfirmation"
                      type="password"
                      placeholder="******"
                  />
                </EditFormRow>
              </div>
            </div>
            <br>
            <span v-if="access === 'creating' || access === 'adminEditing' || settingTezosAccount" class="mt-4">
                {{ $t("account.edit.mandatory") }}
            </span>

            <v-card-actions class="navigation pt-8 pb-4">
              <FeedBackMessage ref="feedBackMessage"/>

              <v-flex class="align-right">
                <IconButton v-if="settingTezosAccount && keyGenerationIsEnabled" color="green"
                            @click="generateTezosAccount"
                            :disabled="!canGenerate"
                            leftIcon="cached" class="mr-2">
                  {{ $t("account.list.generate") }}
                </IconButton>
                <IconButton color="red" @click="cancel" :disabled="!canCancel" leftIcon="clear" class="mr-2">
                  {{ $t("account.list.cancel") }}
                </IconButton>
                <IconButton v-if="access === 'creating'" color="var(--var-color-blue-sword)" @click="create"
                            :disabled="!canCreate" leftIcon="add_circle_outline">
                  {{ $t("account.list.add") }}
                </IconButton>
                <IconButton v-else color="var(--var-color-blue-sword)" @click="saveOrSetTezosAccount"
                            :disabled="!canSave" leftIcon="save">
                  {{ $t("account.edit.save") }}
                </IconButton>
              </v-flex>
            </v-card-actions>
          </v-card-text>
        </Card>
      </v-flex>
    </v-row>
  </v-container>
</template>

<style lang="css">

.edit-password ::placeholder {
  color: black !important;
  opacity: 1.0 !important;
  font-size: 1.2rem;
}

.align-right {
  text-align: right;
}

</style>

<script lang="ts">
import {AccountCreate, AccountPatch, TezosAccount, TezosAccountState} from "@/api/types"
import {Component, Prop, Ref, Vue, Watch} from "vue-property-decorator"
import {FeedBackMessage} from "@/ui/components"

interface DraftAccount {
  id: string | undefined
  login: string | undefined
  newPassword: string | undefined
  newPasswordConfirmation: string | undefined
  fullName: string | undefined
  email: string | undefined
  company: string | undefined
  country: string | undefined
  publicKey: string | undefined
  privateKey: string | undefined
  hash: string | undefined
  isAdmin: boolean | undefined
  disabled: boolean | undefined
  signatureLimit: string | undefined
  tezosAccountState: TezosAccountState | undefined
  isTezosAccountInConfig: boolean | undefined
}

@Component
export default class EditAccount extends Vue {
  @Prop({default: ""}) private readonly id!: string
  @Prop() private readonly access!: string

  @Ref() private readonly feedBackMessage!: FeedBackMessage

  private settingTezosAccount = false

  private draft: DraftAccount = {
    id: undefined,
    login: undefined,
    fullName: undefined,
    newPassword: "",
    newPasswordConfirmation: "",
    email: undefined,
    company: undefined,
    country: undefined,
    publicKey: undefined,
    privateKey: undefined,
    hash: undefined,
    isAdmin: undefined,
    disabled: undefined,
    signatureLimit: undefined,
    tezosAccountState: undefined,
    isTezosAccountInConfig: undefined,
  }

  private mounted() {
    this.fillDraft()
    this.settingTezosAccount = false
  }

  @Watch("draft.signatureLimit")
  private updateSignatureLimit() {
    if (this.draft.signatureLimit === "") {
      this.draft.signatureLimit = undefined
    }
    if (this.draft.signatureLimit !== undefined) {

      if (isNaN(Number(this.draft.signatureLimit))) {
        this.feedBackMessage.fail("errors.signatureLimit")
      } else {
        this.feedBackMessage.reset()
      }
      if (Number(this.draft.signatureLimit) <= 0) {
        this.feedBackMessage.fail("errors.signatureLimit")
      }

    } else {
      this.feedBackMessage.reset()
    }
  }

  @Watch("draft.publicKey")
  @Watch("draft.privateKey")
  private updateTezosAccount() {
    if (this.draft.publicKey === "") {
      this.draft.publicKey = undefined
    }
    if (this.draft.privateKey === "") {
      this.draft.privateKey = undefined
    }
  }

  private get oneTezosFieldIsDefined() {
    return this.draft.publicKey !== undefined || this.draft.privateKey !== undefined
  }

  private get oneTezosFieldIsUndefined() {
    return this.draft.publicKey === undefined || this.draft.privateKey === undefined
  }

  private get allTezosFieldsAreUndefined() {
    return this.draft.publicKey === undefined && this.draft.privateKey === undefined
  }

  private get tezosAccountGenerationMessage() {
    switch (this.currentAccount?.tezosAccountState) {
      case TezosAccountState.GENERATING:
        return this.$t("account.generatingTezosAccount")
      case TezosAccountState.GENERATED:
        return this.$t("account.supplyingTezosAccount")
      case TezosAccountState.REVEALING:
        return this.$t("account.revealingTezosAccount")
      case TezosAccountState.IN_CONFIGURATION:
        return this.$t("account.tezosAccountInConfiguration")
      default:
        return null
    }
  }

  private get tezosAccountDefined() {
    return this.currentAccount !== undefined
        && this.currentAccount.publicKey !== undefined && this.currentAccount.hash !== undefined
        && this.currentAccount.tezosAccountState !== TezosAccountState.GENERATING
        && this.currentAccount.tezosAccountState !== TezosAccountState.GENERATED
        && this.currentAccount.tezosAccountState !== TezosAccountState.REVEALING
        && this.currentAccount.tezosAccountState !== TezosAccountState.IN_CONFIGURATION
  }

  private displaySetTezosAccount() {
    this.fillDraft()
    this.settingTezosAccount = true
    this.feedBackMessage.reset()
  }

  private hideSetTezosAccount() {
    this.fillDraft()
    this.settingTezosAccount = false
    this.feedBackMessage.reset()
  }

  @Watch("draft.newPassword")
  @Watch("draft.newPasswordConfirmation")
  private updatePassword() {
    if (this.draft.newPassword !== "" || this.draft.newPasswordConfirmation !== "") {
      if (this.draft.newPassword !== this.draft.newPasswordConfirmation) {
        this.feedBackMessage.fail("errors.password.differents")
      } else if (!this.isPasswordStrong) {
        this.feedBackMessage.fail("errors.password.weak")
      } else {
        this.feedBackMessage.reset()
      }
    } else {
      this.feedBackMessage.reset()
    }
  }

  private get currentAccount() {
    if (this.access === "selfEditing") {
      return this.$modules.accounts.meAccount
    }
    return this.$modules.accounts.getCurrentAccount()
  }

  private get canSetTezosAccount() {
    return (this.access === "creating" && this.draft.isTezosAccountInConfig !== true)
        || this.currentAccount?.publicKey === undefined
        && this.currentAccount?.tezosAccountState !== TezosAccountState.GENERATING
        && this.currentAccount?.tezosAccountState !== TezosAccountState.GENERATED
        && this.currentAccount?.tezosAccountState !== TezosAccountState.REVEALING
        && this.currentAccount?.tezosAccountState !== TezosAccountState.IN_CONFIGURATION
  }

  private get canGenerate() {
    return (this.draft.publicKey === undefined && this.draft.privateKey === undefined)
        && (this.currentAccount?.publicKey === undefined && this.currentAccount?.hash === undefined)
        && this.currentAccount?.tezosAccountState !== TezosAccountState.IN_CONFIGURATION
        && this.keyGenerationIsEnabled
  }

  private get keyGenerationIsEnabled() {
    const keyGeneration = this.$modules.optionalFeatures.optionalFeatures?.keyGeneration
    return keyGeneration !== undefined && keyGeneration.enabled
  }

  private get canCancel() {
    switch (this.access) {
      case "adminEditing":
        return (
            this.draft.login !== this.currentAccount?.login ||
            this.draft.email !== this.currentAccount?.email ||
            this.draft.isAdmin !== this.currentAccount?.isAdmin ||
            this.draft.fullName !== this.currentAccount?.fullName ||
            this.draft.company !== this.currentAccount?.company ||
            this.draft.country !== this.currentAccount?.country ||
            this.draft.signatureLimit !== this.currentAccount?.signatureLimit?.toString() ||
            (this.settingTezosAccount &&
                (
                    this.draft.publicKey !== undefined ||
                    this.draft.privateKey !== undefined
                )
            )
        )
      case "creating":
        return (
            (this.draft.login !== "" && this.draft.login !== undefined) ||
            (this.draft.email !== "" && this.draft.email !== undefined) ||
            (this.draft.fullName !== "" && this.draft.fullName !== undefined) ||
            (this.draft.country !== "" && this.draft.country !== undefined) ||
            (this.draft.company !== "" && this.draft.company !== undefined) ||
            (this.draft.isAdmin !== undefined && this.draft.disabled !== undefined) ||
            (this.draft.signatureLimit !== undefined) ||
            (this.draft.publicKey !== undefined) ||
            (this.draft.privateKey !== undefined)
        )
      case "selfEditing":
        return (
            (this.draft.newPassword !== "" && this.draft.newPassword !== undefined) ||
            (this.draft.newPasswordConfirmation !== "" && this.draft.newPasswordConfirmation !== undefined) ||
            (this.draft.fullName !== this.currentAccount?.fullName) ||
            (this.settingTezosAccount &&
                (
                    this.draft.publicKey !== undefined ||
                    this.draft.privateKey !== undefined
                )
            )
        )
    }
  }

  private get canSave() {
    switch (this.access) {
      case "adminEditing":
        return (
            this.draft.isAdmin !== this.currentAccount?.isAdmin ||
            this.draft.email !== this.currentAccount?.email ||
            this.draft.country !== this.currentAccount?.country ||
            this.draft.company !== this.currentAccount?.company ||
            this.draft.fullName !== this.currentAccount?.fullName ||
            this.draft.signatureLimit !== this.currentAccount?.signatureLimit?.toString()
        ) && (
            this.draft.email !== "" && this.draft.email !== undefined &&
            this.draft.login !== "" && this.draft.login !== undefined &&
            this.draft.fullName !== "" && this.draft.fullName !== undefined &&
            (this.draft.signatureLimit === undefined ||
                (!isNaN(Number(this.draft.signatureLimit)) && Number(this.draft.signatureLimit) > 0))
        ) || (
            this.settingTezosAccount &&
            (this.oneTezosFieldIsDefined && !this.oneTezosFieldIsUndefined)
        )
      case "selfEditing":
        if (this.draft.newPassword !== "" || this.draft.newPasswordConfirmation !== "") {
          return this.draft.fullName !== "" &&
              this.isPasswordStrong && this.draft.newPassword === this.draft.newPasswordConfirmation
        } else if (this.settingTezosAccount) {
          return this.draft.fullName !== "" && (this.oneTezosFieldIsDefined && !this.oneTezosFieldIsUndefined)
        } else {
          return this.draft.fullName !== "" && this.draft.fullName !== this.$modules.accounts.meAccount?.fullName
        }
    }
  }

  private get canCreate() {
    return (this.draft.email !== undefined && this.draft.email !== "" &&
        this.draft.fullName !== undefined && this.draft.fullName !== "" &&
        this.draft.login !== undefined && this.draft.login !== "") &&
        (this.draft.signatureLimit === undefined ||
            (!isNaN(Number(this.draft.signatureLimit)) && Number(this.draft.signatureLimit) > 0)) &&
        (this.allTezosFieldsAreUndefined || (this.oneTezosFieldIsDefined && !this.oneTezosFieldIsUndefined))
  }

  private get isPasswordStrong() {
    return this.draft.newPassword!.length >= 8 &&
        /[a-z]/.test(this.draft.newPassword!) &&
        /[A-Z]/.test(this.draft.newPassword!) &&
        /[0-9]/.test(this.draft.newPassword!) &&
        /[ !"#$%&'()*+,-./:;<=>?@^_`{|}~]/.test(this.draft.newPassword!)
  }

  private saveOrSetTezosAccount() {
    if (this.settingTezosAccount) {
      this.setTezosAccount()
    } else {
      this.save()
    }
  }

  private setTezosAccount() {
    if (this.settingTezosAccount &&
        this.draft.publicKey !== undefined &&
        this.draft.privateKey !== undefined
    ) {

      const tezosAccount: TezosAccount = {
        publicKey: this.draft.publicKey,
        privateKey: this.draft.privateKey,
      }

      this.$modules.accounts.setTezosAccount(this.draft.id!, tezosAccount).then(() => {
        this.fillDraft()
        this.feedBackMessage.success("account.edit.updated")
        this.settingTezosAccount = false
      }).catch((error) => {
        const exception = error.response?.data.error
        if (exception.includes("IncorrectTezosAccount")) {
          this.feedBackMessage.fail("errors.incorrectTezosAccount")
        } else if (exception.includes("InvalidTezosKeyPair")) {
          this.feedBackMessage.fail("errors.invalidTezosKeyPair")
        } else if (exception.includes("InvalidTezosAccount")) {
          this.feedBackMessage.fail("errors.invalidTezosAccount")
        } else {
          this.feedBackMessage.fail("errors.back.generic")
        }
      })
    }
  }

  private generateTezosAccount() {
    if (this.currentAccount) {
      this.$modules.accounts.generateTezosAccount(this.currentAccount.id)
          .then(() => {
            this.fillDraft()
            this.feedBackMessage.success("account.edit.updated")
            this.hideSetTezosAccount()
          }).catch(() => {
        this.feedBackMessage.fail("errors.back.generic")
      })
    }
  }

  private save() {
    // To remove the signature limit we need to send the value -1
    // Sending undefined would not modify the field in db
    let sigLimit: number | undefined
    if (this.draft.signatureLimit !== this.currentAccount?.signatureLimit) {
      if (this.currentAccount?.signatureLimit !== undefined && this.draft.signatureLimit === undefined) {
        sigLimit = -1
      } else {
        sigLimit = Number(this.draft.signatureLimit)
      }
    }

    const patch: AccountPatch = {
      email: (this.draft.email !== this.currentAccount?.email) ? this.draft.email : undefined,
      password: undefined,
      fullName: (this.draft.fullName !== this.currentAccount?.fullName) ? this.draft.fullName : undefined,
      company: (this.draft.company !== this.currentAccount?.company) ? this.draft.company : undefined,
      country: (this.draft.country !== this.currentAccount?.country) ? this.draft.country : undefined,
      isAdmin: (this.draft.isAdmin !== this.currentAccount?.isAdmin) ? this.draft.isAdmin : undefined,
      disabled: (this.draft.disabled !== this.currentAccount?.disabled) ? this.draft.disabled : undefined,
      signatureLimit: sigLimit,
    }

    if (this.isPasswordStrong) {
      patch.password = this.draft.newPassword
    }
    this.$modules.accounts.updateAccount(this.draft.id!, patch).then(() => {
      this.fillDraft()
      this.feedBackMessage.success("account.edit.updated")
    }).catch(() => {
      this.feedBackMessage.fail("errors.back.generic")
    })
  }

  private cancel() {
    this.fillDraft()
    this.feedBackMessage.reset()
  }

  private fillDraft() {
    if (this.access === "creating") {
      this.draft = {
        id: undefined,
        login: undefined,
        fullName: undefined,
        newPassword: "",
        newPasswordConfirmation: "",
        email: undefined,
        company: undefined,
        country: undefined,
        isAdmin: undefined,
        disabled: undefined,
        signatureLimit: undefined,
        publicKey: undefined,
        privateKey: undefined,
        hash: undefined,
        tezosAccountState: undefined,
        isTezosAccountInConfig: undefined,
      }
    } else {
      this.draft = {
        id: this.currentAccount!.id,
        login: this.currentAccount?.login,
        fullName: this.currentAccount?.fullName,
        newPassword: "",
        newPasswordConfirmation: "",
        email: this.currentAccount?.email,
        company: this.currentAccount?.company,
        country: this.currentAccount?.country,
        isAdmin: this.currentAccount?.isAdmin,
        disabled: this.currentAccount?.disabled,
        signatureLimit: this.currentAccount?.signatureLimit?.toString(),
        publicKey: this.currentAccount?.publicKey,
        privateKey: undefined,
        hash: this.currentAccount!.hash,
        tezosAccountState: this.currentAccount?.tezosAccountState,
        isTezosAccountInConfig: undefined,
      }
    }
  }

  private create() {

    const create: AccountCreate = {
      login: this.draft.login!,
      email: this.draft.email!,
      disabled: (this.draft.disabled) ? this.draft.disabled : false,
      isAdmin: (this.draft.isAdmin) ? this.draft.isAdmin : false,
      tezosAccount: (this.draft.publicKey !== undefined && this.draft.privateKey !== undefined
          && !this.draft.isTezosAccountInConfig) ?
          {
            publicKey: this.draft.publicKey,
            privateKey: this.draft.privateKey,
          }
          : undefined,
      fullName: this.draft.fullName!,
      company: this.draft.company,
      country: this.draft.country,
      signatureLimit: (this.draft.signatureLimit !== undefined && Number(this.draft.signatureLimit) > 0) ?
          Number(this.draft.signatureLimit) : undefined,
      honeyPotField1: undefined, // Only an admin can create accounts here, not need to verify if it's a bot.
      honeyPotField2: undefined,
      isTezosAccountInConfig: this.draft.isTezosAccountInConfig ? this.draft.isTezosAccountInConfig : false,
    }

    this.$modules.accounts.createAccount(create).then(() => {
      if (this.$modules.accounts.getHttpStatus() !== 200) {
        const exception = this.$modules.accounts.getHttpError
        if (this.$modules.accounts.getHttpStatus() === 409) {
          if (this.$modules.accounts.getHttpErrorMessage.includes("email dup key")) {
            this.feedBackMessage.fail("errors.account.duplicate.email")
          } else {
            this.feedBackMessage.fail("errors.account.duplicate.login")
          }
        } else if (this.$modules.accounts.getHttpStatus() === 400) {
          if (exception.includes("IncorrectTezosAccount")) {
            this.feedBackMessage.fail("errors.incorrectTezosAccount")
          } else if (exception.includes("InvalidTezosKeyPair")) {
            this.feedBackMessage.fail("errors.invalidTezosKeyPair")
          } else if (exception.includes("InvalidTezosAccount")) {
            this.feedBackMessage.fail("errors.invalidTezosAccount")
          } else if (exception.includes("EmailAddressIsDisposableException")) {
            this.feedBackMessage.fail("errors.account.disposableEmail")
          } else {
            this.feedBackMessage.fail("errors.back.generic")
          }
        } else if (exception.includes("ClosedChannelException")) {
          this.feedBackMessage.fail("errors.back.ssl_error")
        } else {
          this.feedBackMessage.fail("errors.back.generic")
        }
      } else {
        this.$router.push("/settings")
      }
    })
  }
}
</script>
