<template>
  <v-container fluid>
    <v-flex>
      <Card>
        <h2>{{ $t("signatureCheck.title") }}</h2>
        <h2>{{ $t("signatureCheck.subtitle") }}</h2>
        <p class="small-text">
          {{ $t("signatureCheck.text1") }}<br/>
          {{ $t("signatureCheck.text2") }}
        </p>
        <h2 v-if="hashDocument != null">{{ $t("signatureCheck.hash") }} : {{ hashDocument }}</h2>
        <v-flex v-else class="my-5">
          <v-row>
            <v-col class="col-4 align-right"><h1>{{ $t("signatureCheck.upload") }}</h1></v-col>
            <v-col class="col-5">
              <div @dragover.prevent @drop.prevent="dropFiles">
                <v-file-input prepend-icon="" prepend-inner-icon="publish" filled
                              :placeholder="$t('signatureCheck.drop')" outlined v-model="filesUpload"
                              multiple :disabled="checkStatus.loading"/>
              </div>
            </v-col>
            <v-col class="col-1 mt-2 align-right" v-if="fileChecks.length !== 0">
              <v-btn @click="resetFileUpload" icon>
                <v-icon size="50">delete</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row v-if="checkStatus.loading" class="justify-center">
            <v-progress-circular
                indeterminate
                color="var(--var-color-blue-sword)"
            ></v-progress-circular>
            <v-progress-linear class="ma-5" color="var(--var-color-blue-sword)"
                               :value="checkStatus.nbElementChecked * 100 / fileChecks.length"></v-progress-linear>
          </v-row>

          <v-data-table class="table-header mb-4"
                        :headers="headers"
                        :items="fileChecks"
                        v-if="fileChecks.length !== 0"
          >

            <template v-slot:[`header.certified`]="{ header }">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <span class="tooltipHint" v-on="on">{{ header.text }}</span>
                </template>
                <span>{{ $t("signatureCheck.certifiedTooltip") }}</span>
              </v-tooltip>
            </template>

            <template v-slot:body="{items}">
              <tbody>
              <tr v-for="(fileCheck, index) in items" :key="`fileCheck-${index}`" class="outlined">
                <td class="text-center">{{ fileCheck.file.name }}</td>
                <td class="text-center">
                  <v-file-input prepend-icon="" prepend-inner-icon="publish"
                                :placeholder="$t('signatureCheck.uploadProof')" hide-details
                                v-model="fileCheck.proofFile" :disabled="checkStatus.loading"/>
                </td>
                <td class="text-center">
                  <template v-if="fileCheck.checkResponse !== undefined">
                    <v-dialog
                        v-model="resultDialogs[index]"
                        width="1200"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn class="mx-2"
                               icon
                               elevation="4"
                               small
                        >
                          <v-icon large v-bind="attrs" v-on="on"
                                  :color="fileCheck.checkResponse.output === 'OK' ? 'green' : 'red'">
                            {{
                              fileCheck.checkResponse.output === 'OK' ?
                                  "check_circle_outline" : "cancel"
                            }}
                          </v-icon>
                        </v-btn>
                      </template>

                      <CheckResult :check-response="fileCheck.checkResponse"/>

                    </v-dialog>
                  </template>
                  <v-icon v-else>mdi-circle-outline</v-icon>
                </td>
                <td class="text-center">
                  <v-btn @click="$modules.signatures.removeFileCheck(index)" icon>
                    <v-icon>delete</v-icon>
                  </v-btn>
                </td>
              </tr>
              </tbody>
            </template>
          </v-data-table>
          <v-row>
            <v-col class="col-4 align-right">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <h1 class="tooltipHint" v-bind="attrs" v-on="on">
                    {{ $t("signatureCheck.uploadProofs") }}
                  </h1>
                  <span>{{ $t("signatureCheck.optional") }}</span>
                </template>
                <span>{{ $t("signatureCheck.uploadProofsTooltip") }}</span>
              </v-tooltip>
            </v-col>
            <v-col class="col-5">
              <div @dragover.prevent @drop.prevent="dropProofFiles">
                <v-file-input prepend-icon="" prepend-inner-icon="publish" filled
                              multiple :disabled="fileChecks.length === 0 || checkStatus.loading"
                              :placeholder="$t('signatureCheck.drop')" outlined v-model="proofFiles"
                              accept="application/json"/>
              </div>
            </v-col>
          </v-row>
        </v-flex>
        <v-flex>
          <div class="text-center custom-bottom-margin">
            <IconButton leftIcon="double_arrow" @click="check"
                        color="var(--var-color-blue-sword)" :disabled="fileChecks.length === 0 && !hashDocument">{{
                $t("signatureCheck.generate")
              }}
            </IconButton>
          </div>
        </v-flex>
        <v-flex v-if="singleCheckIsDone">
          <CheckResult :check-response="singleCheckResponse"/>
        </v-flex>
        <v-flex v-if="!singleCheckIsDone && multiCheckIsDone">
          <CheckResult />
        </v-flex>
        <v-flex v-if="checkIsDone" class="mb-5">
          <v-row>
            <v-col class="col-2"></v-col>
            <v-col class="col-8 small">{{ $t("signatureCheck.success.info.title") }}</v-col>
          </v-row>
          <v-row>
            <v-col class="col-2"></v-col>
            <v-col class="col-4 small">
              <h3>{{ $t("signatureCheck.success.info.col1.title") }}</h3>
              <ol>
                <li>{{ $t("signatureCheck.success.info.col1.step1") }}</li>
                <li>{{ $t("signatureCheck.success.info.col1.step2") }}</li>
                <li>{{ $t("signatureCheck.success.info.col1.step3") }}</li>
                <li>{{ $t("signatureCheck.success.info.col1.step4") }}</li>
              </ol>
            </v-col>
            <v-col class="col-5 small">
              <h3>{{ $t("signatureCheck.success.info.col2.title") }}</h3>
              <ol>
                <li>{{ $t("signatureCheck.success.info.col2.step1") }}</li>
                <li>{{ $t("signatureCheck.success.info.col2.step2") }}</li>
                <li>{{ $t("signatureCheck.success.info.col2.step3") }}</li>
                <li>{{ $t("signatureCheck.success.info.col2.step4") }}</li>
                <li>{{ $t("signatureCheck.success.info.col2.step5") }}</li>
                <li>{{ $t("signatureCheck.success.info.col2.step6") }}</li>
                <li>{{ $t("signatureCheck.success.info.col2.step7") }}</li>
              </ol>
            </v-col>
            <v-col class="col-1"></v-col>
          </v-row>
        </v-flex>
        <div class="text-center">
          <IconButton v-if="checkIsDone" leftIcon="double_arrow" @click="fullReload"
                      color="var(--var-color-blue-sword)">
            {{ $t("signatureCheck.regenerate") }}
          </IconButton>
        </div>

        <v-flex id="bottom">
          <span class="ml-10 mr-10">{{ $t("signatureCheck.com") }}</span>
          <a class="ml-10 mr-10" href="#/GCU">{{ $t("signatureCheck.GCU") }}</a>
          <a class="ml-10 mr-10" href="#/policy">{{ $t("signatureCheck.policy") }}</a>
        </v-flex>
      </Card>
    </v-flex>
  </v-container>
</template>

<style lang="scss" scoped>
h2 {
  color: var(--var-color-blue-sword);
  text-align: center;
  padding-bottom: 1rem;
}

.tooltipHint {
  text-decoration: underline dotted black;
}

span {
  padding-bottom: 1rem;
}

#bottom {
  margin-top: 50px;
  text-align: center;
  font-size: 8px;
}

.small {
  font-size: 10px;
}

.small-text {
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
}

.custom-bottom-margin {
  margin-bottom: 30px;
}
</style>

<script lang="ts">
import {SignatureCheckRequest, SignatureCheckResponse} from "@/api/types"
import {Component, Prop, Vue, Watch} from "vue-property-decorator"

@Component
export default class SignatureCheck extends Vue {

  // Check by url (when the hash is directly in the url)
  @Prop({default: null}) private readonly hashDoc!: string | null
  private hashDocument: string | null = this.hashDoc

  // Check by file upload
  private filesUpload: Array<File> = []
  private proofFiles: Array<File> = []

  private resultDialogs: Array<boolean> = []

  @Watch("filesUpload")
  private updateFiles() {
    if (this.filesUpload.length !== 0) {
      this.filesUpload.forEach((f) => {
        this.$modules.signatures.addFileCheck({
          file: f,
          proofFile: undefined,
          checkResponse: undefined,
        })
      })
      this.filesUpload = []
    }
  }

  @Watch("proofFiles")
  private updateProofFiles() {
    if (this.proofFiles.length !== 0) {
      this.proofFiles.forEach((proof) => {
        const proofNameNoExt = proof.name.substring(0, proof.name.lastIndexOf("."))
        const index = this.fileChecks.findIndex((value) => value.file.name.startsWith(proofNameNoExt))
        if (index !== -1) {
          this.$modules.signatures.setFileCheckProof({index, proof})
        }
      })
      this.proofFiles = []
    }
  }

  private dropFiles(e: any) {
    this.filesUpload = e.dataTransfer.files
  }

  private dropProofFiles(e: any) {
    this.proofFiles = e.dataTransfer.files
  }

  private resetFileUpload() {
    this.$modules.signatures.resetFileChecks()
    this.filesUpload = []
  }

  private get fileChecks() {
    return this.$modules.signatures.getFileChecks()
  }

  private get checkStatus() {
    return this.$modules.signatures.getCheckStatus()
  }

  private get headers() {
    return [
      {text: this.$t("signatureCheck.fileName"), align: "center", value: "name", width: "40%"},
      {text: this.$t("signatureCheck.proofFileName"), align: "center", value: "proof", width: "30%"},
      {text: this.$t("signatureCheck.certified"), align: "center", value: "certified", width: "20%"},
      {text: "", sortable: false, width: "10%"},
    ]
  }

  private mounted() {
    this.reload()
  }

  private get multiCheckIsDone(): boolean {
    return this.checkStatus.nbElementChecked !== 0 && this.checkStatus.nbElementChecked === this.fileChecks.length
  }

  private get singleCheckIsDone(): boolean {
    return this.$modules.signatures.getCheckResponse() !== undefined ||
        (this.fileChecks.length === 1 && this.fileChecks[0]?.checkResponse !== undefined)
  }

  private get checkIsDone(): boolean {
    return (this.singleCheckIsDone || this.multiCheckIsDone)
  }

  private get singleCheckResponse(): SignatureCheckResponse | undefined {
    const urlCheckResponse = this.$modules.signatures.getCheckResponse()
    if (urlCheckResponse) {
      return urlCheckResponse
    } else {
      return this.fileChecks[0]?.checkResponse
    }
  }

  private check() {
    if (this.hashDocument != null) { // Url mode
      const sigCheck: SignatureCheckRequest = {
        documentHash: this.hashDocument,
      }
      this.$modules.signatures.check(sigCheck)
    } else if (this.fileChecks.length !== 0) { // Upload mode
      this.resultDialogs = new Array(this.fileChecks.length).fill(false)
      this.$modules.signatures.checkFiles()
    }
  }

  private fullReload() {
    this.hashDocument = null
    this.reload()
  }

  private reload() {
    this.$modules.signatures.reset()
  }
}
</script>
