<template>
  <v-container fluid>
    <v-row class="mx-3 mt-3" justify="space-between">
      <v-col class="pl-4" tag="h1">
        <h1>{{ $t('signatureHandler.title') }}</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-container v-if="remainingSignatures !== undefined && remainingSignatures <= 0" fluid>
        <v-row class="pt-10" align="center"
               justify="center">
          {{ $t('signatureHandler.limitExceeded') }}
        </v-row>
      </v-container>
      <v-flex v-else>
        <Card width="98%">

          <v-tabs color="var(--var-color-blue-sword)">

            <v-tab>{{ $t('signatureHandler.directSignature') }}</v-tab>

            <v-tab-item class="mt-4">

              <CardTitle type="number" :number=1>
                {{ $t("signatureHandler.start") }}
                <v-col slot="sideInfo" v-if="remainingSignatures !== undefined"
                       :class="[remainingSignatures <= 3 ? 'red--text' : '']"
                       class="text-right">
                  {{ $t('signatureHandler.signatureLimit', [remainingSignatures]) }}
                </v-col>
              </CardTitle>
              <v-flex xs8 lg4 class="ml-4">
                <EditFormRow :title="$t('signatureHandler.algorithm') + '*'" :editable="true">
                  <v-combobox class="combobox" hide-details outlined dense :items="algorithms"
                              v-model="selectedAlgorithm"/>
                </EditFormRow>
                <EditFormRow :title="$t('signatureHandler.name') + '*'" :editable="true">
                  <EditFormTitleEdit v-model="flowName"/>
                </EditFormRow>
                <EditFormRow :title="$t('signatureHandler.data')" :editable="true"
                             :tooltip="$t('signatureHandler.jobMetadataTooltip')">
                  <MetadataInput ref="jobMetadataInput" v-model="jobMetadata"/>
                </EditFormRow>
                <div class="mandatory">
                  {{ $t("signatureHandler.mandatory") }}
                </div>
              </v-flex>

              <CardTitle type="number" :number=2 class="mt-8">{{ $t("signatureHandler.uploadFiles") }}</CardTitle>
              <v-flex xs8 lg4 class="ml-4">
                <EditFormRow :editable="true" :title="$t('signatureHandler.upload')">
                  <FileUpload ref="fileUpload" @change-files="filesSign = $event"/>
                </EditFormRow>
              </v-flex>
              <v-data-table class="table-header"
                            :headers="headers"
                            :items="filesSign"
                            :footer-props="footer"
              >
                <template v-slot:[`header.metadata`]="{ header }">
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <span class="tooltipHint" v-on="on">{{ header.text }}</span>
                    </template>
                    <span>{{ $t("signatureHandler.fileMetadataTooltip") }}</span>
                  </v-tooltip>
                </template>
                <template v-slot:body="{items}">
                  <tbody>
                  <tr v-if="items.length === 0">
                    <td colspan="5">{{ $t("signatureHandler.noData") }}</td>
                  </tr>
                  <tr v-for="(file, index) in items" :key="`file-${index}`" class="outlined">
                    <td>
                      <v-text-field outlined dense v-model="file.name" class="pt-5"/>
                    </td>
                    <td class="text-center">{{ file.size }} Kio</td>
                    <td class="text-center">{{ file.hash }}</td>
                    <td class="text-center vertical_align_top">
                      <MetadataInput v-model="file.metadata"/>
                    </td>
                    <td class="text-center">
                      <v-btn @click="fileUpload.deleteFile(index)" icon>
                        <v-icon>delete</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                  </tbody>
                </template>
              </v-data-table>

              <v-flex class="align-right pt-8 ">
                <v-layout justify-end row wrap>
                  <EditFormRow v-if="emailNotificationEnabled" :title="$t('signatureHandler.email')" :editable="true">
                    <EditFormTitleEdit v-model="emailNotification"/>
                  </EditFormRow>
                  <v-checkbox v-model="emailNotificationEnabled" :label="$t('signatureHandler.emailNotification')" dense
                              hide-details/>
                  <IconButton class="ml-5" leftIcon="cancel" color="red" :disabled="filesSign.length === 0"
                              @click="cancelDirectSignature">
                    {{ $t("signatureHandler.cancel") }}
                  </IconButton>
                  <IconButton class="ml-5" leftIcon="alarm_on" color="var(--var-color-orange-sword)"
                              :disabled="!canSign"
                              @click="sign">{{ $t("signatureHandler.sign") }}
                  </IconButton>
                </v-layout>
              </v-flex>
            </v-tab-item>


            <v-tab>{{ $t('signatureHandler.deferredSignature') }}</v-tab>

            <v-tab-item class="mt-4">

              <CardTitle type="number" :number=1 class="mt-8">{{ $t("signatureHandler.uploadFiles") }}</CardTitle>
              <v-flex xs8 lg4 class="ml-4">
                <EditFormRow :editable="true" :title="$t('signatureHandler.upload')">
                  <FileUpload ref="deferredFileUpload" @change-files="deferredFilesSign = $event"/>
                </EditFormRow>
              </v-flex>
              <v-data-table class="table-header"
                            :headers="headers"
                            :items="deferredFilesSign"
                            :footer-props="footer"
              >
                <template v-slot:body="{items}">
                  <tbody>
                  <tr v-if="items.length === 0">
                    <td colspan="5">{{ $t("signatureHandler.noData") }}</td>
                  </tr>
                  <tr v-for="(file, index) in items" :key="`file-${index}`" class="outlined">
                    <td>
                      <v-text-field outlined dense v-model="file.name" class="pt-5"/>
                    </td>
                    <td class="text-center">{{ file.size }} Kio</td>
                    <td class="text-center">{{ file.hash }}</td>
                    <td class="text-center vertical_align_top">
                      <MetadataInput @change-metadata="file.metadata = $event"/>
                    </td>
                    <td class="text-center">
                      <v-btn @click="deferredFileUpload.deleteFile(index)" icon>
                        <v-icon>delete</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                  </tbody>
                </template>
              </v-data-table>

              <v-flex class="align-right pt-8 ">
                <v-layout justify-end row wrap>
                  <IconButton class="ml-5" leftIcon="cancel" color="red" :disabled="deferredFilesSign.length === 0"
                              @click="cancelDeferredSignature">
                    {{ $t("signatureHandler.cancel") }}
                  </IconButton>
                  <IconButton class="ml-5" leftIcon="file_upload" color="var(--var-color-blue-sword)"
                              :disabled="!canUploadDeferredFile"
                              @click="uploadFilesDeferredSignature">{{ $t("signatureHandler.upload") }}
                  </IconButton>
                </v-layout>
              </v-flex>

            </v-tab-item>

          </v-tabs>

          <FeedBackMessage ref="feedBackMessage"/>

        </Card>
      </v-flex>
    </v-row>
  </v-container>
</template>

<style scoped>
.tooltipHint {
  border-bottom: 1px dotted #555555;
}

.combobox {
  max-width: 240px;
}

.vertical_align_top {
  vertical-align: top;
}

.mandatory {
  margin-top: 30px;
  font-size: 12px;
}
</style>

<script lang="ts">
import {DeferredSignatureRequest, SignatureMultiRequest, SignatureRequest} from "@/api/types"
import {tableFooter} from "@/plugins/i18n"
import {FileSign, Metadata} from "@/store/types"
import {Component, Ref, Vue, Watch} from "vue-property-decorator"
import {FeedBackMessage, MetadataInput, FileUpload} from "@/ui/components"

@Component
export default class SignatureHandler extends Vue {

  private static metadataConversion(array: Array<Metadata>): { [key: string]: string } {
    const metadata: { [key: string]: string } = {}
    array.forEach((m) => {
      metadata[m.key] = m.value
    })
    return metadata
  }

  private static fileSignConversion(array: Array<FileSign>): Array<SignatureRequest> {
    const ret: Array<SignatureRequest> = []
    array.forEach((f) => {
      ret.push({
        metadata: {
          fileName: f.name,
          fileSize: f.size,
          customFields: SignatureHandler.metadataConversion(f.metadata),
        },
        hash: f.hash,
      })
    })
    return ret
  }

  @Ref() private readonly feedBackMessage!: FeedBackMessage

  // Direct Signature

  @Ref() private readonly jobMetadataInput!: MetadataInput
  @Ref() private readonly fileUpload!: FileUpload

  private filesSign: Array<FileSign> = []
  private algorithms: Array<string> = ["SHA-256"]
  private selectedAlgorithm: string = ""
  private emailNotificationEnabled = false
  private emailNotification?: string
  private flowName: string = ""

  private jobMetadata: Array<Metadata> = []

  // Deferred Signature

  @Ref() private readonly deferredFileUpload!: FileUpload

  private deferredFilesSign: Array<FileSign> = []


  @Watch("emailNotificationEnabled")
  private updateEmailNotificationEnabled() {
    if (this.emailNotificationEnabled) {
      this.emailNotification = this.$modules.accounts.meAccount?.email
    } else {
      this.emailNotification = undefined
    }
  }

  private async sign() {
    const filesUpload = SignatureHandler.fileSignConversion(this.filesSign)

    const signatures: SignatureMultiRequest = {
      algorithm: this.selectedAlgorithm,
      emailNotification: this.emailNotification,
      flowName: this.flowName,
      files: filesUpload,
      customFields: SignatureHandler.metadataConversion(this.jobMetadata),
    }

    this.$modules.signatures.signMulti(signatures).then(() => {
      this.$router.push("/jobs/")
    }).catch((error) => {
      const exception = error.response?.data.error
      if (exception !== undefined) {
        if (exception.includes("AlgorithmNotFoundException")) {
          this.feedBackMessage.fail("errors.algorithmNotFound")
        } else {
          this.feedBackMessage.fail("errors.generic")
        }
      } else {
        this.feedBackMessage.fail("errors.generic")
      }
    })
  }

  private uploadFilesDeferredSignature() {
    const filesUpload = SignatureHandler.fileSignConversion(this.deferredFilesSign)

    const request: DeferredSignatureRequest = {
      files: filesUpload,
    }

    this.$modules.signatures.uploadFilesDeferredSignature(request).then(() => {
      this.deferredFileUpload.reset()
      this.feedBackMessage.success("signatureHandler.successfulUpload")
    }).catch(() => {
      this.feedBackMessage.fail("errors.generic")
    })
  }

  private get headers() {
    return [
      {text: this.$t("signatureHandler.fileName"), align: "center", value: "name", width: "25%"},
      {text: this.$t("signatureHandler.size"), align: "center", value: "size", width: "15%"},
      {text: this.$t("signatureHandler.hash"), align: "center", value: "hash", width: "20%"},
      {text: this.$t("signatureHandler.keyValue"), align: "center", value: "metadata", sortable: false, width: "35%"},
      {text: "", sortable: false, width: "5%"},
    ]
  }

  private get footer() {
    return tableFooter((key: string) => this.$t(key))
  }

  private cancelDirectSignature() {
    this.selectedAlgorithm = ""
    this.flowName = ""
    this.fileUpload.reset()
    this.feedBackMessage.reset()
    this.jobMetadataInput.reset()
  }

  private cancelDeferredSignature() {
    this.feedBackMessage.reset()
    this.deferredFileUpload.reset()
  }

  private get canUploadDeferredFile() {
    return this.deferredFilesSign.length !== 0
  }

  private get canSign() {
    return (this.filesSign.length !== 0 && this.selectedAlgorithm !== "" && this.flowName !== ""
        && (this.remainingSignatures === undefined || this.remainingSignatures > 0))
  }

  private get remainingSignatures() {
    let total = this.$modules.accounts.meAccount?.signatureLimit
    if (total !== undefined && this.$modules.accounts.nbJobsToday !== null) {
      total -= this.$modules.accounts.nbJobsToday
      if (total < 0) {
        total = 0
      }
    }
    return total
  }
}
</script>
